* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*BODY*/
body { 
  background-color: rgba(0, 0, 0, 0.959);
  background-image: url(/IMG/istockphoto-849748138-612x612.jpg);
}
/*HEADER*/
header{ 
  background-color: rgba(0, 0, 0, 0.17);
  width: 100%;
  height: 20vh;
}
#firsth1, h1{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  padding-left: 10%;
}
/*NAV*/
  nav {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
  }
  ul, li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 95px;
    color: white;
    width: 30%;
    height: 2vh;
    cursor: pointer;
  }
/*MAIN*/
main {
  background-color: black;
  width: 100%;
  height: 200vh;
  margin-top: 100px;
  display: flex;
  background-image: url(/IMG/close-up-view-dark-fresh-roasted-coffee-beans-coffee-beans-background.jpg);
}
/*ASIDE*/
aside {
  background-color: rgba(17, 13, 13, 0.647);
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  border-left: 2px rgb(41, 6, 6) solid;
  border-right: 2px rgb(41, 6, 6) solid;;  
  border-bottom: none;
}
#secondh2, h2{
  text-decoration: underline;
  font-size: xx-large;
  padding: 20px;
  color: rgba(255, 255, 255, 0.664);
}
/* CSS for the container of the Lorem Ipsum text */
/* FIRST STORY */
.fiststory {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid rgb(41, 6, 6);
  border-left: none;
  border-right: none;
  background-color: rgba(17, 13, 13, 0.685);
}

/* Content of the first story */
.contentfirststory {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.664);
}

/* Images */
img {
  width: 100%;
  opacity: 0.8;
  display: block; /* Remove unnecessary flex properties */
  margin: 5% auto 0;
}

/* SECOND STORY */
.second-story {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.664);
  padding: 20px;
  max-height: 100%;
  color: red;
}

/*FOOTER*/
footer{
  background-color: rgb(16, 14, 14);
  width: 100%;
  height: 10vh;
  border: 2px rgb(41, 6, 6) solid;
  border-top: none;
}